body {
    background-color: rgb(121, 123, 153);
}

.issoai {
    color: white;
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 30px;
}

.issoai2 {
    margin-top: -70px;
    margin-left: 70px;

}

.issoai3 {
    color: rgb(208, 210, 238);
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    font-size: 20px;
    margin-top: -60px;
    margin-right: 50px;
}